* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
body {
  display: flex;
  background: radial-gradient(
    circle,
    #ffcb24,
    #ffb205,
    #fe9900,
    #fb7d00,
    #f76000
  );
  justify-content: center;
}
#calc {
  height: auto;
  width: 400px;
  background-color: #155263;
  border: 2px solid #ff9a3c;
  border-radius: 20px;
  padding: 10px;
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#screen {
  text-align: center;
  padding: 10px;
}
#result {
  border: none;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  text-align: right;
  word-wrap: break-word;
}
#buttons {
  text-align: center;
}
button {
  width: 45px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ff9a3c;
  background-color: #ffc93c;
  outline: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
